nav {
  position: fixed;
  border-left: 1px solid #d8d8d8;
  right: 80px;
  top: 200px;
  padding: 60px 0 60px 40px;
  z-index: 10;
}

nav h3 {
  margin-bottom: 40px;
}

nav li {
  font-size: 1.1rem;
  margin: 16px 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li > a {
  color: #4152a4;
  text-decoration: none;
}

nav li > a:hover,
nav li > a:focus {
  text-decoration: underline;
}

.mobile-nav {
  display: none;
}

.nav-wrapper {
  position: relative;
}

.link-selected {
  font-weight: bold;
}

.close-menu {
  background: none;
  border: none;
  position: fixed;
  top: 40px;
  right: 60px;
  cursor: pointer;
}

.menu-button {
  display: none;
}

@media (max-width: 1500px) {
  .nav {
    display: none;
  }

  .menu-button {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }

  .menu-button svg {
    width: 50px;
  }

  .mobile-nav {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: #4152a4;
    color: white;
    top: 0;
    left: 0;
  }

  .mobile-nav li > a {
    color: white;
    font-size: 1.5rem;
  }

  .mobile-nav ul {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .toc-title {
    display: none;
  }
}
