@font-face {
  font-family: LemonTuesday;
  src: url("../assets/lemon-tuesday.otf") format("opentype");
}

@font-face {
  font-family: Muli;
  src: url("../assets/Muli.ttf") format("opentype");
}

body,
html {
  padding: 0 0 24px;
  margin: 0;
  font-family: "Muli";
  overflow-x: hidden;
}

main {
  padding: 30px 0;
  font-size: 18px;
  position: relative;
  left: 100px;
}

main p {
  max-width: 600px;
}

h2:first-child {
  font-family: "LemonTuesday";
  color: #4152a4;
  font-size: 4rem;
  font-weight: 100;
}

.lesson-content {
  display: flex;
  flex-direction: column;
  max-width: 40%;
}

.footer-image {
  position: absolute;
  width: 40%;
}
